[submodule "extlibs/autobahn-cpp"]
	path = extlibs/autobahn-cpp
	url = https://github.com/aiwc/extlib-autobahn-cpp.git
[submodule "extlibs/msgpack-c"]
	path = extlibs/msgpack-c
	url = https://github.com/aiwc/extlib-msgpack-c.git
[submodule "extlibs/websocketpp"]
	path = extlibs/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "extlibs/cppcodec"]
	path = extlibs/cppcodec
	url = https://github.com/tplgy/cppcodec.git
